<script type="text/template" id="documents-template">
    <table id="table"
            data-search="true"
            data-show-refresh="true"
            data-show-toggle="true"
            data-url="/api/documents"
            data-pagination="true"
            data-show-columns="true"
            data-side-pagination="server"
            data-height="519">
        <thead>
        <tr>
            <th data-field="name" data-sortable="true">Name</th>
            <th data-field="description" data-sortable="true">Description</th>
        </tr>
        </thead>
    </table>
</script>

<script type="text/template" id="directories-template">
    <a id="create-directory" class="btn btn-primary">Create Directory</a>
    <br/>
    <div id="path">
    <% if (current_path) { %>
        > <span class="directory-path"><a href="#">home</a></span>
        <% _.each(current_path.slice(0, -1), function (directory) { %>
            > <span><a href='#<%= directory.get("id") %>'><%= directory.get("name") %></a></span>
        <% }); %>
        > <span><%= current_path[current_path.length - 1].get("name") %></span>
    <% }; %>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Directory name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        <% _.each(directories, function (directory) { %>
        <tr>
            <td>
                <a directory-id='<%= directory.get("id") %>' href='#<%= directory.get("id") %>'
                   class="sub-directory">
                    <%= directory.get('name') %>
                </a>
            </td>
            <td>
                <a name="edit" href='#<%= directory.get("id") %>/edit' class="btn btn-default">
                    Edit
                </a>
            </td>
        </tr>
        <% }); %>

        </tbody>
    </table>
</script>


<script type="text/template" id="create-directory-template">
    <h2>Create directory</h2>
    <form id="directory-create-form" action="" method="post">
        {% csrf_token %}
        <label>
            Name
            <input id="directory-name" type="text" name="name" value=""/>
        </label>
        <hr/>
        <button id="btn-create" type="submit" class="btn btn-primary">Create</button>
        <a id="cancel" class="btn btn-danger">Cancel</a>
    </form>
</script>


<script type="text/template" id="directory-edit-template">
    <h2>Edit directory</h2>
    <form id="directory-edit-form" action="" method="put">
        <label>
            Name
            <input type='text' name='name' value='<%= directory.get("name") %>'/>
        </label>
        <input type="hidden" name="id" value='<%= directory.get("id") %>'>
        <hr/>
        <button id="submit" type="submit" class="btn btn-primary">OK</button>
        <a id="dir-delete" class="btn btn-danger">Delete</a>
    </form>
</script>

