html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 30px; /* for footer */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #f5f5f5;
}

.btn-root {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: sans-serif;

    white-space: normal; /* separate into multiple lines when the text is too long */
}

.btn-dir {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 75px;

    font-family: sans-serif;
    font-size: 20px;

    white-space: normal;
    color: orange;
    background-color: #ffffff;
}

.nav .breadcrumb {
    margin: 0 7px;
}

@media (min-width: 768px) {
    .nav .breadcrumb {
        float: left;
        margin: 7px 10px;
    }
}

.top-buffer {
    margin-top: 30px;
}

.bottom-buffer {
    margin-bottom: 30px;
}

.statebar-top-buffer {
    margin-top: 50px;
}

/*for modal window*/
@media screen and (min-width: 768px) {
    .custom-class {
        width: 70%;
    }
}

.navbar-top {
    margin-bottom: 0;
}

.navbar-form {
    margin-bottom: 0;
}

.loading {
    margin-top: 20%;
    text-align: center;
}

.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
