{% extends 'cntapp/base_cntapp.html' %}

{% block extra_head %}
<script type="text/html" id="home-template">
<h1>Hello My Home Template</h1>
</script>
{% endblock %}

{% block content %}
    <div id="content" class="container">
        <div class="row">
            <div class="col-md-1"></div>
            {% if dirs %}
                <div class="col-md-10">
                    <h2>Select categories...</h2>
                    <ul class="list-group">
                        {% for dir in dirs %}
                            <a href="{% url 'cntapp:directory' dir.id %}">
                                <li class="list-group-item btn-warning" style="color: #080808">{{ dir.name }}</li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <h4>Oops... nothing here</h4>
            {% endif %}
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <button onclick="goBack()" class="btn btn-warning">Go Back</button>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <script>
        function goBack() {
            window.history.back()
        }
    </script>
{% endblock %}
