{% extends 'cntapp/base.html' %}
{% load staticfiles %}

{% block extra_stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'cntapp/style.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block content %}
    <div class="jumbotron">
    <div class="page-header">
        <h1>
            Edupi
            <br>
            <small>
                We all need to learn
            </small>
        </h1>
        <br>
    </div>
        <a class="btn btn-warning" href="{% url 'cntapp:root' %}">Get started</a>
    </div>
{% endblock %}
