<table class="table">
    <thead>
    <tr>
        <th>File Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>

    <% if (documents.length > 0) { %>
        <% _.each(documents, function (d) { %>
        <tr>
            <td>
                <a document-id="<%= d['id'] %>" href="<%= d['file'] %>" target="_blank">
                    <%= d['name'] %>
                </a>
            </td>
            <td>
                <a name="edit" href="#documents/<%= d['id'] %>/edit" class="btn btn-default">
                    Edit
                </a>
            </td>
        </tr>
        <% }); %>

    <% } else { %>
        <tr>
            <td>no document found here</td>
        </tr>
    <% } %>

    </tbody>
</table>


