<div class="row document-row"
     role="button"
     style="cursor: pointer;"
     data-toggle="modal"
     data-target="#modal-<%= model.get('id') %>">

    <div class="col-xs-4 col-sm-3">
    <a>
        <%
        var imageFile, dType;
        dType = model.get('type');
        if (model.get('thumbnail')) {
            imageFile = model.get('thumbnail');
        } else {
            if (dType === 'v') {
                imageFile = 'default-video.png'
            } else if (dType === 'a') {
                imageFile = 'default-audio.png'
            } else if (dType === 'g') {
                imageFile = 'default-google-apk.png'
            } else if (dType === 'g') {
                imageFile = 'default-video.png'
            } else if (dType === 'p') {
                imageFile = 'default-pdf.png'
            } else {
                imageFile = 'default-file.png'
            }
            imageFile = "/static/cntapp/custom/images/" + imageFile;
        }
        %>
        <img class="img-responsive" src="<%= imageFile %>">
    </a>
    </div>
    <div class="col-xs-8 col-sm-9">
        <a><%= model.get('name') %></a>
        <br>
        <p>
            <%= model.get('description') %>
        </p>
    </div>
</div>
