<div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">

    </div>
</div>

<table class="table">
    <tbody>
    <% if (documents.length > 0) { %>
        <% _.each(documents, function (d) { %>
        <tr>
            <td>
                <a document-id="<%= d['id'] %>" href="<%= d['file'] %>" target="_blank">
                    <%= d['name'] %>
                </a>
            </td>
            <td>
                <a name="edit" href="#documents/<%= d['id'] %>/edit" class="btn btn-default">
                    Edit
                </a>
            </td>
        </tr>
        <% }); %>

    <% } else { %>
        <tr>
            <td>no document found here</td>
        </tr>
    <% } %>

    </tbody>
</table>

