<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <span class="text-muted">
                    © Orange 2015
                </span>
            </div>
            <div class="col-xs-6">
                <div class="dropup pull-right">
                    <a role="button" class="dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span data-i18n="language">languages </span><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <li><a class="lang-fr" role="button">Français</a></li>
                        <li><a class="lang-en" role="button">English</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
