<div class="container top-buffer">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 bottom-buffer">
            <img class="img-responsive" src="/static/cntapp/final/images/on_a_tous_besoin.png">
        </div>

        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-1">
            <% if (directories.length > 0) { %>
            <% _.each(directories, function (directory) { %>
                <a class="btn btn-warning btn-block btn-lg btn-root"
                   href="#directories/<%= directory.get('id') %>">
                    <%= directory.get('name') %>
                </a>
                <% }); %>
            <% } else { %>
                <p>
                    <span data-i18n="msg-no-root-dir"> No directory found, please do some configuration via</span>
                    <a href="custom" data-i18n="link-custom-page" target="_blank">custom page</a>.
                </p>
            <% } %>
        </div>

    </div>
</div>
