<div id="nav-zone">
</div>
<div class="container top-buffer">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-1">
            <img class="img-responsive" src="/static/cntapp/final/images/levels.JPG">
        </div>

        <% _.each(directories, function (directory) { %>
        <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-1">
            <a class="btn btn-warning btn-block btn-lg btn-root"
               href="#directories/<%= directory.get('id') %>">
                <%= directory.get('name') %>
            </a>
        </div>
        <% }); %>

    </div>
</div>
<div id="foot-zone">
</div>
