<div id="nav-zone">
</div>
<div id="content" class="container top-buffer">
</div>
<div id="footer-zone">
</div>

<script type="text/javascript">
    $(window).scroll(function () {
        if ($(window).scrollTop() > 50) {
            $('.navbar-top').removeClass('navbar-fixed-top');
            $('.navbar-lower').addClass('navbar-fixed-top')
        } else {
            $('.navbar-lower').removeClass('navbar-fixed-top');
            $('.navbar-top').addClass('navbar-fixed-top')
        }
    });
</script>
