<div class="modal" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h4 class="modal-title" id="modalLabel"><%= title %></h4>
            </div>
            <div class="modal-body">
                <p>
                    <%= message %>
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-confirmed" data-i18n="btn-yes">Yes</button>
                <a id="cancel" class="btn btn-default btn-cancel" role="btn-no" data-i18n="btn-no" data-dismiss="modal">No</a>
            </div>
        </div>
    </div>
</div>

