<!-- Modal -->
<div class="modal" id="modal-create" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-vertical-center">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h4 class="modal-title" id="modalLabel">Create Directory</h4>
            </div>
            <form id="directory-create-form" action="" method="post">
                <div class="modal-body">
                    <input id="input-directory-name" class="form-control" tabindex="0"
                           type="text" name="name" placeholder="name" />
                </div>
                <div class="modal-footer">
                    <a id="cancel" class="btn btn-danger btn-cancel" role="button" data-dismiss="modal">Cancel</a>
                    <button id="btn-modal-create" type="submit" class="btn btn-primary .btn-modal-create">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
