<table id="directories-table" class="table well">
    <thead>
    <tr>
        <th>Directory name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>

    <% if (directories.length == 0) { %>
    <tr>
        <td>no sub directory</td>
    </tr>
    <% } %>

    <%
    var baseLink = '#directories';
    baseLink += path ? '/' + path : '';
    %>

    <% _.each(directories, function (directory) { %>
    <tr>
        <td>
            <a directory-id='<%= directory.get("id") %>' href='<%= baseLink %>/<%= directory.get("id") %>'
               class="sub-directory">
                <%= directory.get('name') %>
            </a>
        </td>
        <td>
            <a name="edit" href='#directories/<%= directory.get("id") %>/edit' class="btn btn-default">
                Edit
            </a>
        </td>
    </tr>
    <% }); %>

    </tbody>
</table>
