<div class="row">
    <div class="col-sm-1">
    <a href="<%= model.get('file') %>" target="_blank">
        <%
        var imageFile;
        if (model.get('thumbnail')) {
            imageFile = model.get('thumbnail');
        } else {
            var dType = model.get('type');
            if (dType === 'v') {
                imageFile = 'default-video.png'
            } else if (dType === 'a') {
                imageFile = 'default-audio.png'
            } else if (dType === 'g') {
                imageFile = 'default-google-apk.png'
            } else if (dType === 'i') {
                imageFile = 'default-image.png'
            } else if (dType === 'g') {
                imageFile = 'default-video.png'
            } else if (dType === 'p') {
                imageFile = 'default-pdf.png'
            } else {
                imageFile = 'default-file.png'
            }
            imageFile = "/static/cntapp/custom/images/" + imageFile;
        }
        %>
        <img class="img-responsive" src="<%= imageFile %>">
    </a>
    </div>
    <div class="col-sm-6">

        <% if (dType === 'v') { %>
            <a type="button"
               class="btn-play-video"
               data-toggle="modal"
               data-target="#video-modal-<%= model.get('id') %>">
                <%= model.get('name') %>
            </a>
        <% } else { %>
            <a href="<%= model.get('file') %>" target="_blank">
                <%= model.get('name') %>
            </a>
        <% } %>

        <br>
        <p>
            <%= model.get('description') %>
        </p>
    </div>
    <div class="col-sm-5">
        <!-- actions -->
        <span class="glyphicon glyphicon-pencil"></span>
        <span tabindex="0"
              class="glyphicon glyphicon-trash"
              role="button"
              data-toggle="popover"
              data-trigger="focus"
              title="Delete this document ?">
        </span>

    </div>
</div>

