<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-static-top" role="navigation" style="margin-bottom: 0">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">EDUPI Admin</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li><a class="lang-en">EN</a></li>
        <li><a class="lang-fr">FR</a></li>
        <li><a href="/custom/logout/" data-i18n="logout">Logout</a></li>
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <form class="" role="search">
                        <div class="input-group">
                            <input name="search-text" type="text" class="form-control"
                                   data-i18n="[placeholder]placeholder-search" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                        </div>
                    </form>
                </li>
                <li>
                    <a href="#directories">
                        <span class="glyphicon glyphicon-equalizer"> Structure</span>
                    </a>
                </li>
                <li>
                    <a href="#stats">
                        <span class="glyphicon glyphicon-list-alt">
                            <span  data-i18n="stats"> Stats </span>
                        </span>
                    </a>
                    <a href="#sysinfo" >
                        <span class="glyphicon glyphicon-info-sign">
                            <span data-i18n="title-system-information"> System Information</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.sidebar -->
</nav>
