<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-static-top" role="navigation" style="margin-bottom: 0">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Edupi Admin</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li><a class="lang-en">EN</a></li>
        <li><a class="lang-fr">FR</a></li>
        <li><a href="/custom/logout/" data-i18n="logout">Logout</a></li>
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="#directories">Structure</a>
                </li>
                <li>
                    <a href="#documents">Documents</a>
                    <a href="#sysinfo">System Information</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.sidebar -->
</nav>
