<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h3 data-i18n="title-upload-files">Upload files</h3>
        </div>
    </div>
    <hr>
    <div>
        <form class="dropzone" drop-zone="" id="file-dropzone"></form>

        <div class="col-sm-12 text-center">
            <p class="upload-info"></p>
        </div>
        <hr>
        <div class="col-sm-12 text-center">
            <a class="btn btn-primary btn-finish" data-i18n="btn-finish">
                Finish
            </a>
        </div>
    </div>
</div>
