a:hover {
    cursor: pointer;
}

video {
    width: 100% !important;
    height: auto !important;
}

.custom-glyphicon {
    font-size: 14px;
    color: #8699A4;
    cursor: pointer;
    outline: 0;
}

.custom-glyphicon:hover {
    color: #000;
}

.custom-glyphicon.spaced {
    letter-spacing: 6px;
}

.error-msg {
    color: red;
}

/* modal window for small screen*/
@media screen and (min-width: 768px) {
    .custom-class {
        width: 90%;
    }
}

/* modal window for medium screen*/
@media screen and (min-width: 992px) {
    .custom-class {
        width: 80%;
    }
}

/* modal window for large screen*/
@media screen and (min-width: 1200px) {
    .custom-class {
        width: 70%;
    }
}



.modal-vertical-center {
  padding-top: 15%;
}

.state-bar {
    padding: 10px;
}

.action-bar {
    padding-top: 10px;
}

/* The max width is dependant on the container (more info below) */
.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

.path-breadcrumb {
    margin: 0;
    padding: 0;
}
