a:hover {
    cursor: pointer;
}

video {
    width: 100% !important;
    height: auto !important;
}

.glyphicon {
    font-size: 14px;
    color: #8699A4;
    cursor: pointer;
    outline: 0;
}

.glyphicon:hover {
    color: #000;
}

.glyphicon.spaced {
    letter-spacing: 6px;
}

.error-msg {
    color: red;
}

@media screen and (min-width: 768px) {
    .custom-class {
        width: 70%;
    }
}

.modal-vertical-center {
  padding-top: 15%;
}

.action-bar, .state-bar {
    padding: 10px;
}
